.repl_history
build
build-log
tags
app/pixate_code.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
vendor/Pods
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.bundle
.eprj
.sass-cache
.idea
.dat*.*
